html,body{
    margin:0px;
  height:100%;
}

.login-form{
    border:1px solid black;
    width:350px;
    position: relative;
    margin:auto;
    top:10%;
    height:600px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px;
    background-color: white;
}
.login-title{
    margin:10% 0 10% 0;
    text-align: center;
}
.labels{
     color:rgb(120, 117, 117);
     font-size: 15px;
}
.error{
    margin:auto;
}
.fields{
    margin:0 0 10px 0;
    width: 100%;
    height: 4%;
    border-radius: 5px;
    height: 25px;
}
.page{
    background:rgb(26, 26, 26);
    width: 100vw;
    height: 100vh;
}
.signup{
    font-size: small;
    margin-left: 80%; 
    color:rgb(101, 99, 99);
}
.login-button{
 width: 100%;
 background-color: rgb(47, 47, 48);
 margin-top: 20%;
 padding:8px;
 color: white;
 border: none;
 border-radius: 10px;
 height: 40px;
 cursor: pointer;
}